@charset "utf-8";
/* CSS Document */
#wrap{
	background:url(sidebar2.gif) repeat-y 70% 0%;
}
#wrap2{
	background:url(sidebar3.gif) repeat-y 28% 0%;
}
#main-body{
	width:70%;
	float:left;
	/*margin-right:5%;*/
	
}
#sidebar{
	float:left;
	width:40%;
	background:#099;
}
#content{
	float:right;
	width:60%;
}
#sidebar2{
	float:right;
	width:30%;
	padding:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
#banner{
	background:#3FF;
}
#sidebar2{
	background:#63F;
}
#contentinfo{
	background:#FC9;
	clear:both;
}
#image1{
	clear:both;
}
#figure1{
	width:150%;
}